<li id="Nimbos::Discussion_<%= discussion.id %>" class="media">
  <%= link_to user_small_avatar(discussion.user), nimbos.user_path(discussion.user), class: "pull-left" %>
  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to discussion.title, nimbos.discussion_path(discussion) %>
    </h4>    
    <div class="media-content">
      <div class="discussion-content">
        <%= sanitize(discussion.content) %>
      </div>
    </div>
    <div>
      <%= render "nimbos/comments/commentable", object: discussion %>
    </div>
  </div>
</li>