<div class="portlet">
  <%#= render "shared/portlet_title", title: t("operations.title.new_loading") %>

  <div class="portlet-body form">

		<%= simple_form_for @discussion, html: { class: "form-horizontal" } do |f| %>
  		<%= f.error_notification %>

  		<div class="form-body">
			  <%= f.input :title, label: t("discussions.label.title"), placeholder: t("discussions.placeholder.title"), input_html: { class: "input-xxlarge" } %>
			  <%= f.input :content, label: t("discussions.label.content"), placeholder: t("discussions.placeholder.content"), input_html: { rows: "6", class: "wysihtml5" } %>
        <%= f.input :target_type, as: :hidden, label: false %>
        <%= f.input :target_id, as: :hidden, label: false %>
        <%= f.input :target_name, as: :hidden, label: false %>
  		</div>

  		<div class="form-actions">
    		<%= f.submit t("discussions.action.submit"), class: "btn btn-success" %>
    		<%= render "shared/cancel_button" %>
  		</div>
		<% end %>
	</div>
</div>

<% content_for :init_scripts do %>
  <%= javascript_include_tag "jqueryfileupload", debug: Rails.env.development? %>
  <script>
    jQuery(document).ready(function() {       
      ComponentsEditors.init();
    });
  </script>
<% end %>