<div class="portlet">
  <%= render "shared/portlet_title", title: t("operations.title.new_loading") %>

  <div class="portlet-body form">

		<%= simple_form_for([@target, @discussion], :url => nimbos.discussions_path("#{@target.class.name}_id" => @target.id), validate: true, html: { class: "form-horizontal" }) do |f| %>
  		<%= f.error_notification %>

  		<div class="form-body">
			  <%= f.input :title, label: t("discussions.label.title"), placeholder: t("discussions.placeholder.title"), input_html: { class: "input-xxlarge" } %>
			  <%= f.input :content, label: t("discussions.label.content"), placeholder: t("discussions.placeholder.content"), input_html: { rows: "6", class: "input-xxlarge" } %>  			
  		</div>

  		<div class="form-actions">
    		<%= f.submit t("discussions.action.submit"), class: "btn btn-success" %>
    		<%= render "shared/cancel_button" %>
  		</div>
		<% end %>
	</div>
</div>
