<div class="row-fluid">

  <div class="col-md-1">
    <%= link_to user_small_avatar(discussion.user), nimbos.user_path(discussion.user), class: "pull-left" %>
  </div>

  <div class="col-md-11" id="discussion_<%= discussion.id %>_profile_header">
    <div class="row">
      <div class="col-md-10">
        <h4><%= discussion.title %> <small class="pull-right text-muted"><%= created_time(discussion.created_at) %></small></h4>
      </div>
      <div class="col-md-2 btn-toolbar">
        <%#= render partial: "actions", locals: { discussion: discussion } %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="media-content">
          <%= sanitize(discussion.content) %>
        </div>
      </div>
    </div>
  </div>

</div>