<div class="row-fluid">

  <div class="span1">
    <%= link_to user_small_avatar(discussion.user), nimbos.user_path(discussion.user), class: "pull-left" %>
  </div>

  <div class="span11" id="discussion_<%= discussion.id %>_profile_header">
    <div class="row-fluid">
      <div class="span8">
        <p>
          <strong><%= discussion.title %></strong>
          <br>
          <small style="white-space:pre-wrap"><%= discussion.content %></small>
        </p>
      </div>
      <div class="span3 btn-toolbar">
        <%= render partial: "actions", locals: { discussion: discussion } %>
        <div class="btn-group">
          <%= link_to t("tickets.defaults.edit_record_label"), edit_discussion_path(discussion), class: "btn" %>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <p>
        <i class="icon-user"></i>
        <%= link_to user_name(discussion.user), nimbos.user_path(discussion.user) %>
        |
        <i class="icon-calendar"></i>
        <%= created_time(discussion.created_at) %>
      </p>
    </div>
  </div>

</div>