<div class="row">

  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <%= link_to nimbos.invite_coworkers_users_path, class: "btn blue btn-block margin-bottom-20" do %>
          <i class="fa fa-group"></i> <%= t("users.label.invite_users") %>
        <% end %>
      </div>
      <div class="col-md-6">
        <%= link_to nimbos.new_branch_path, class: "btn blue btn-block margin-bottom-20" do %>
          <i class="fa fa-hospital-o"></i> <%= t("branches.link.add_branch") %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="tabbable-custom">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#patron_<%= patron.id %>_users" data-toggle="tab"><i class="fa fa-group"></i> <%= t("users.title.users") %></a>
        </li>
        <li>
          <a href="#patron_<%= patron.id %>_branches" data-toggle="tab"><i class="fa fa-random"></i> <%= t("branches.title.branches") %></a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="patron_<%= patron.id %>_users">
          <%= render "nimbos/users/related_list", objects: patron.users %>
          <%= link_to nimbos.invite_coworkers_users_path, class: "btn blue btn-block margin-bottom-20" do %>
            <i class="fa fa-group"></i> <%= t("users.label.invite_users") %>
          <% end %>
        </div>
        <div class="tab-pane" id="patron_<%= patron.id %>_branches">
          <% if current_user.superadmin? %>
            <%= render "nimbos/branches/list", objects: Nimbos::Branch.unscoped.where(patron_id: patron.id) %>
          <% else %>
            <%= render "nimbos/branches/list", objects: patron.branches %>
          <% end %>
          <%= link_to nimbos.new_branch_path, class: "btn blue btn-block margin-bottom-20" do %>
            <i class="fa fa-hospital-o"></i> <%= t("branches.link.add_branch") %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>