<div class="form-body">
  <div class="row">
      <div class="col-md-6">
        <%= f.input :name, label: t("patrons.label.name") %>
        <%= f.input :title, label: t("patrons.label.title") %>
        <div class="row">
          <div class="col-md-6">
            <%= f.input :tel, as: :tel, input_html: { class: "mask_phone" } %>
          </div>
          <div class="col-md-6">
            <%= f.input :fax, as: :tel, input_html: { class: "mask_phone" } %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= f.input :email, as: :email %>
          </div>
          <div class="col-md-6">
            <%= f.input :website, as: :url %>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <%= f.input :country_id, as: :select, collection: Nimbos::Country.all, include_blank: false, label: t("simple_form.labels.defaults.country_id"), placeholder: t("patrons.placeholder.country"), input_html: { class: "country_select" } %>
          </div>
          <div class="col-md-6">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= f.input :city, label: t("simple_form.labels.defaults.city"), placeholder: t("patrons.placeholder.city") %>
          </div>
          <div class="col-md-6">
            <%= f.input :postcode, label: t("patrons.placeholder.postcode"), placeholder: t("patrons.placeholder.postcode") %>
          </div>
        </div>
        <%= f.input :address, as: :text, input_html: { rows: 2 }, label: t("patrons.label.address") %>
      </div>
  </div>
</div>