<div id="patron_#{patron.id}_profile_header" class="row">
  <div class="row">
    <div class="col-md-3">
      <%= link_to patron_logo, "#", id: "patron_logo_change_link", class: 'togglebutton', "data-placement" => "below",  "rel" => 'twipsy', "title" => "Logoyu Değiştirmek için Tıklayınız", "data-href" => "#logo_change_div" %>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-8 profile-info">
          <h1><%= patron.name %></h1>
          <ul class="list-inline">
            <li><i class="fa fa-envelope"></i> <%= mail_to patron.email, patron.email %></li>
            <li><i class="fa fa-phone"></i> <%= patron.tel %></li>
            <li><i class="fa fa-print"></i> <%= patron.fax %></li>
            <br>
            <li><i class="fa fa-map-marker"></i> <%= patron_address(patron) %></li>
          </ul>
        </div>
        <div class="col-md-4">
        </div>
      </div>
      <div class="row-fluid">
        <div id="logo_change_div" class="slidingDiv">
          <%= simple_form_for patron, html: {multipart: true, class: 'form-inline'} do |f| %>
            <%= f.input :logo_cache, as: :hidden %>
            <%= f.input :logo, as: :file, label: false %>
            <%= f.submit "Firma Logosunu Değiştir", :class => "btn btn-success" %>
            <%= link_to "Vazgeç", "#", class: "togglebutton btn", "data-href" => "#logo_change_div" %>
            <%#if patron.logo? %>
              <%#= f.input :remove_logo, as: :check_boxes %><!--&nbsp;Resmi Sil-->
            <%# end %>
          <% end %>
        </div>
    </div>
  </div>
</div>
<% if patron.logo_url ==  "/assets/patron.png" %>
  <% content_for :init_scripts do %>
    <script>
      jQuery(document).ready(function() {       
        $('#patron_logo_change_link').click();
      });
    </script>
  <% end %>
<% end %>