<div class="row">
  <table class="table table-condensed">
    <tr>
      <th><%= t("patrons.label.name") %></th>
      <th><%= t("defaults.label.tel") %></th>
      <th><%= t("defaults.label.email") %></th>
      <th><%= t("simple_form.labels.defaults.country_id") %></th>
      <th><%= t("simple_form.labels.defaults.city") %></th>
      <th></th>
    </tr>

    <%= render @patrons %>

  </table>
</div>