<div id="currencies_list_div" class="table-responsive">
  <table class="table table-striped table-bordered table-hover" id="currencies_list_table">
    <thead>
      <tr>
        <th class="col-md-2"><%= t("simple_form.labels.currency.code") %></th>
        <th class="col-md-2"><%= t("simple_form.labels.currency.name") %></th>
        <th class="col-md-2"><%= t("simple_form.labels.currency.symbol") %></th>
        <th class="col-md-2"><%= t("simple_form.labels.currency.multiplier") %></th>
        <th class="col-md-1"></th>
      </tr>
    </thead>
    <tbody>
      <% objects.each do |currency| %>
        <tr>
          <td><%= currency.code %></td>
          <td><%= currency.name %></td>
          <td><%= currency.symbol %></td>
          <td><%= currency.multiplier %></td>
          <td>
            <span class="hide_on_closed">
              <%#= link_to nimbos.edit_currency_path(currency) do %>
                <!--i class="fa fa-edit"></i-->
              <%# end %>
              <%#= link_to nimbos.currency_path(currency), method: :delete, data: { confirm: t("simple_form.messages.defaults.destroy_confirm") }, title: t("simple_form.helpers.defaults.delete") do %>
                <!--i class="fa fa-trash-o"></i-->
              <%# end %>
            </span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>