<li id="task_<%= task.id %>" class="task_<%= task.status %>">
  <%= form_for [task.todolist, task], url: nimbos.todolist_task_path(task.todolist, task), remote: true, html: {class: "edit_task form-search"} do |f| %>
    <%= f.check_box :status, {}, "closed", "active" %>
    <%#= f.label :status, task.task_text %>
    <span style="font-size:14px;"><%= link_to  task.task_text, nimbos.todolist_task_path(task.todolist, task) %></span>
    <% if task.status == "active" %>
      <span class="sub-info text-muted">
        <% if task.user_id == 0 %>
          <%= link_to t("tasks.label.not_assigned"), nimbos.edit_todolist_task_path(task.todolist, task), remote: true, "data-toggle" => "modal", "data-target" => "#modalWindow" %>
        <% else %>
          <%= "#{task.user.to_s}-#{task.due_date}" %>
          <%= link_to "Change User", nimbos.edit_todolist_task_path(task.todolist, task), remote: true, "data-toggle" => "modal", "data-target" => "#modalWindow" %>
        <% end %>
      </span>
    <% else %>
      <span class="sub-info text-muted">
        <%= task.user.to_s if task.user_id > 0 %> - <%= local_time(task.closed_date) if task.closed_date %>
      </span>
    <% end %>
    <span class="text-muted"><%= "Comments(#{task.comments_count})" if task.comments_count > 0 %></span>
    <span class="task-actions">
      <%= link_to nimbos.edit_todolist_task_path(task.todolist, task), remote: true do %>
        <i class="fa fa-edit"></i>
      <% end %>
      <%= link_to nimbos.todolist_task_path(task.todolist, task), method: :delete, data: {confirm: "Are you sure?"}, remote: true do %>
        <i class="fa fa-trash-o"></i>
      <% end %>
        <%#= link_to "Edit", edit_task_path(task) %>
        <%#= link_to "Delete", task, confirm: 'You are deleting the task, are you sure ?', method: :delete, remote: true %>
    </span>
  <% end %>
</li>