<div class="modal-dialog">
  <div class="modal-content">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4>Task assing page</h4>
  </div>
	<%= simple_form_for [@todolist, @task], validate: true, remote: true do |f| %>
    <div class="modal-body">
	    <%= f.error_notification %>
			<div class="row-fluid">
        <%= f.association :user, label_method: :to_s, value_method: :id, include_blank: false, collection: current_patron.users.active.all(order: 'name'), prompt: "Assing this task to" %>
			  <%= f.input :due_date, as: :hidden, label: false %>		  
			  <%#= f.text_field :task_text, label: false, placeholder: t("tasks.label.task_text"), class: "input-xxlarge" %>
        <div id="task_due_date_selector" class="datepicker"></div>
			</div>
    </div>

    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal" aria-hidden="true"><%= t("defaults.action.close") %></a>
      <%= f.submit t("defaults.action.send"), class: 'btn btn-success' %>
    </div>
	<% end %>
  </div>
</div>
<script type="text/javascript">$("#edit_task_<%= @task.id %>").validate();</script>
<script type="text/javascript">
  $("#task_due_date_selector").on('changeDate', function(e){
    var y = e.date.getFullYear(),
    _m = e.date.getMonth() + 1,
    m = (_m > 9 ? _m : '0'+_m),
    _d = e.date.getDate(),
    d = (_d > 9 ? _d : '0'+_d);
    $("#task_due_date").val(d + '/' + m + '/' + y);
  });
</script>