<div class="row">
	<div class="col-md-2">
		<%= f.input :controller, as: :select, collection: [:positions, :loadings, :leads, :vehicles, :companies, :contacts, :drivers, :invoices, :dispatches], label: false %>
	</div>
	<div class="col-md-2">
		<%= f.input :can_manage, label: false %>
	</div>
	<div class="col-md-2">
		<%= f.input :can_read, label: false %>
	</div>
	<div class="col-md-2">
	  <%= f.input :can_create, label: false %>
	</div>
	<div class="col-md-2">
	  <%= f.input :can_update, label: false %>
	</div>
	<div class="col-md-2">
	  <%= f.input :can_delete, label: false %>
	</div>
	<!--div class="col-md-2">
	  <%#= f.input :can_list, label: false %>
	</div-->
</div>