<div id="User_#{user.id}_profile_header">
  <div class="row">
    <div class="col-md-2">
      <%= link_to user_avatar, "#", id: "user_avatar_change_link", class: 'togglebutton', "data-placement" => "below",  "rel" => 'twipsy', "title" => t("users.messages.click_to_change_avatar"), "data-href" => "#logo_change_div" %>
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-8 profile-info">
          <h1><%= user.name %></h1>
          <!--p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt laoreet dolore magna aliquam tincidunt erat volutpat laoreet dolore magna aliquam tincidunt erat volutpat.</p-->
          <p><a href="#"><%= mail_to user.email, user.email %></a></p>
          <ul class="list-inline">
            <li><i class="fa fa-map-marker"></i> <%= branch_name(user.branch) if user.branch %></li>
            <!--li><i class="fa fa-calendar"></i> 18 Jan 1982</li>
            <li><i class="fa fa-briefcase"></i> Design</li-->
            <% if user.has_role?(:manager) %>
              <li><i class="fa fa-star"></i> <%= t("users.label.manager") %></li>
            <% end %>
            <% if user.has_role?(:patron_admin) %>
              <li><i class="fa fa-star"></i> Admin</li>
            <% end %>
            <!--li><i class="fa fa-heart"></i> BASE Jumping</li-->
          </ul>
        </div>
        <div class="col-md-4">
        </div>
      </div>
      <div class="row">
        <div id="logo_change_div" class="slidingDiv">
          <% if current_user.id == user.id %>
            <%= simple_form_for user, html: {multipart: true, class: 'form-inline'} do |f| %>
              <%= f.input :avatar_cache, as: :hidden %>
              <%= f.input :avatar, as: :file, label: false %>
              <%= f.submit t("users.action.change_avatar"), :class => "btn btn-success" %>
              <%= link_to t("defaults.link.cancel"), "#", class: "togglebutton btn", "data-href" => "#logo_change_div" %>
              <%#if user.avatar? %>
                <%#= f.input :remove_avatar, as: :check_boxes %><!--&nbsp;Resmi Sil-->
              <%# end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% if user.avatar_url ==  "/assets/user.png" %>
  <% content_for :init_scripts do %>
    <script>
      jQuery(document).ready(function() {       
        $('#user_avatar_change_link').click();
      });
    </script>
  <% end %>
<% end %>
