<div class="portlet box green">
  <%= render "shared/portlet_title", title: t("users.title.user_info") %>

  <div class="portlet-body form">
    <%= simple_form_for @user, html: { class: "horizontal-form" }, validate: true  do |f| %>
      <%= f.error_notification %>
      <%= f.error :base %>
      <div class="form-body">
        <div class="row">
          <div class="col-md-6">
            <% if params[:action] == "new" %>
              <%= f.input :email %>
            <% end %>
            <%= f.input :name %>
            <%#= f.input :surname %>
            <%= f.input :branch_id, as: :select, collection: current_patron.branches, include_blank: false, selected: current_user.branch_id %>
          </div>
          <div class="col-md-6">
            <%= f.input :time_zone, selected: current_user.time_zone, input_html: { class: "country_select" } %>
            <%= f.input :language, as: :select, collection: Nimbos::Listitem.languages.map { |t| [t.name, t.code] }, include_blank: false, selected: current_user.language %>
          </div>
        </div>
        <% if current_user.has_role? :admin %>
          <div class="row">
            <div class="col-md-6">
              <%= f.association :roles, as: :check_boxes %>
            </div>
            <div class="col-md-6">
              <%= f.input :user_status, as: :select, collection: Nimbos::User.user_status.map { |k| [k, k] }, include_blank: false %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, t("users.action.save"), class: "btn btn-info" %>
        <a href="#" class="btn"><%= t("simple_form.helpers.defaults.cancel") %></a>
      </div>

      <!--div class="page-header">
        <h5><%#= t("users.title.user_settings") %></h5>
      </div-->
          <!--div class="row">
            <fieldset>
              <div class="row">
                <div class="span6">
                  <%#= f.input :region %>
                  <%#= f.input :user_type do %>
                    <%#= f.select :user_type, Nimbos::Listitem.usertypes.map { |t| [t.name, t.code] }, include_blank: false, selected: "operator" %>
                  <%# end %>
                  <%#= f.input :locale do %>
                    <%#= f.select :locale, Nimbos::Listitem.locales.map { |t| [t.name, t.code] }, include_blank: false, selected: current_user.locale %>
                  <%# end %>
                </div>
                <div class="span6">
                  
                  <%#= f.input :mail_encoding do %>
                    <%#= f.select :mail_encoding, Nimbos::Listitem.mail_encodings.map { |t| [t.name, t.code] }, include_blank: false, selected: current_user.mail_encoding %>
                  <%# end %>
                </div>
              </div>
            </fieldset>
          </div-->

  </div>
<% end %>
</div>
