<div class="row-fluid">

	<div class="page-header">
		<h4><%= t("users.label.invite_users") %></h4>
	</div>

	<div class="row-fluid">
		<% unless @saved_emails.empty? %>
			<div class="page-header">
				<h5><%= t("users.title.invited_users") %></h5>
			</div>
			<p><%= t("users.messages.invited_users") %><br>
        <% @saved_emails.each do |email| %>
          <%= email %>;&nbsp;
        <% end %>
			</p>
		<% end %>

		<% unless @rejected_emails.empty? %>
			<div class="page-header">
				<h5><%= t("users.messages.cant_invite_users") %></h5>
			</div>
      <p><%= t("users.messages.maybe_email_is_invalid") %><br>
        <% @rejected_emails.each_with_index do |email, index| %>
          <%= email %>&nbsp;(<%= @reject_reasons[index] %>)<br>
        <% end %>
			</p>
		<% end %>

    <div class="page-header">
			<h5><%= link_to t("users.messages.invite_other_users"), nimbos.invite_coworkers_users_path %>, veya <%= link_to t("users.messages.return_to_mainpage"), main_app.root_url %></h5>
		</div>
	</div>
</div>