<div class="row">

  <div class="col-md-12">
		<div class="page-header">
			<h4><%= t("users.label.invite_users") %></h4>
			<p><%= t("users.messages.invite_users") %></p>
		</div>
  </div>

	<div class="col-md-6">
		<%= form_tag nimbos.create_coworkers_users_path, method: :put, class: "form-horizontal" do %>
      <div class="form-body">
			  <div class="control-group">
			  	<div class="controls">
			  	  <%= select_tag(:branch_id, options_for_select(Nimbos::Branch.all.map { |branch| [branch.name, branch.id] }), include_blank: false, class: "country_select") %>
			  	  <br><%= t("users.messages.cant_find_branch") %>, <%= link_to t("users.messages.click_for_new_branch"), nimbos.branches_path, class: "btn blue" %>
			  	</div>
			  </div>
				<label class="control-label"><%= t("users.messages.enter_coworkers_mail") %>:</label>
	      <% for user in @users %>
	        <div class="control-group">
		        <div class="controls"><%= text_field_tag "user_emails[]", nil, class: "form-control placeholder-no-fix col-md-5", placeholder: t("users.placeholder.email") %></div>
	        </div>
	      <% end %>
      </div>
      <div class="form-actions">
        <%= submit_tag t("users.label.invite_users"), class: "btn btn-success" %> 
      </div>
		<% end %>
	</div>
	</div>
</div>