<div class="row">
  <div class="col-md-12">
    <h3 class="page-title">
      <%= t("users.title.user_info") %> <!--small>user profile sample</small-->
    </h3>
    <ul class="page-breadcrumb breadcrumb">
      <li class="btn-group">
        <%= render "actions", user: @user %>
      </li>
      <li>
        <i class="fa fa-home"></i>
        <%= link_to t("simple_form.labels.defaults.mainpage"), main_app.root_url %> 
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        <%= link_to "Admin", nimbos.dashboard_path %> 
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        <a href="#"><%= t("users.title.user_info") %></a>
      </li>
    </ul>
  </div>
</div>
<%= render "profile", user: @user %>