<div class="row">
  <div class="col-md-12">
    <%= f.input :title, label: t("companies.label.event_title") %>
    <div class="row">
      <div class="col-md-6">
          <%= f.input :start_date, label: "Başlama Tarihi" do %>
            <%= f.input_field :start_date, as: :string, class: "datepicker" %>
            <a id="reminder_scope_changer" href="#">it takes more than one day</a>
          <% end %>      
      </div>
      <div class="col-md-6">
          <div id="reminder_hour">
            <%= f.input :start_hour, as: :string, label: "Başlama Saati" %>
          </div>
      </div>
    </div>
    <div id="reminder_finish_date" class="slidingDiv row">
      <div class="col-md-6">
        <%= f.input :finish_date, as: :string, label: "Bitiş Tarihi", input_html: {class: "datepicker" } %>
      </div>
    </div>
    <%= f.input :description, label: t("companies.label.event_description"), input_html: { rows: "3" }  %>
    <%= f.input :remindfor_type, as: :hidden %>
    <%= f.input :remindfor_id, as: :hidden %>
  </div>
</div>