<div class="row">
  <div class="col-md-12">
	  <div class="inbox-header">
      <h4>
        <%= link_to nimbos.todolist_path(todolist) do %>
          <i class="fa fa-tasks"></i>  <%= todolist.name %>
        <% end %>
      </h4>
    </div>
    <div class="inbox-content">
      <ul id="todolist_<%= todolist.id %>_uncompleted_tasks_list" class="list-unstyled task-list" style="margin-bottom: 10px;">
        <%= render partial: "nimbos/tasks/task", collection: todolist.incomplete_tasks %>
      </ul>
      <div id="new_task_div_link">
        <%= link_to "Add new task", "#", "data-href" => "#new_todolist_#{todolist.id}_task_div", class: "togglebutton" %>
      </div>
      <div id="new_todolist_<%= todolist.id %>_task_div" class="slidingDiv">
        <%= render "nimbos/tasks/form", todolist: todolist, task: Nimbos::Task.new %>
      </div>

      <ul id="todolist_<%= todolist.id %>_completed_tasks_list" class="list-unstyled" style="margin-top: 10px;">
        <%= render partial: "nimbos/tasks/task", collection: todolist.completed_tasks %>
      </ul>
    </div>
  </div>
</div>