<div class="col-md-12">
	<table class ="table table-bordered table-hovered">
		<thead>
			<tr>
				<th class="col-md-3"><%= t("simple_form.labels.counter.prefix") %></th>
				<th class="col-md-3"><%= t("simple_form.labels.counter.count")%></th>
				<th class="col-md-3"><%= t("simple_form.labels.counter.suffix")%></th>
				<th class="col-md-2"><%= t("simple_form.labels.counter.period")%></th>
				<th class="col-md-1"><%= t("simple_form.labels.counter.counter_type")%></th>
			</tr>
		</thead>
	
		<tbody id="counter.list">
			<%= render @counter %>
		</tbody>
	</table>
</div>