<% if @counder.errors.presents? %>
	toastr.error('<%= j error_message_for(@counter) %>' );
	$("#messages").show();
	$("#messages").html('<div id="flash_notice" class ="alert alert-error"><%= j error_message_for(@counter)%></div>');
	$("#messages").fadeOut(4000)
<% else %>
	$("#counters_list_table_body").append('<%= j render @counter %>');
	$("#counter_prefix").val('');
	$("#counter_count").val('');
	$('#counter_suffix').val('');
	$('#counter_prefix').focus();
	toastr.info('<%= j flash[:notice] %>');
	$("#messages").show();
	$("#messages").html('<div id="flash_notice" class ="alert alert-notice"><%= j flash[:notice] %></div>');
	$("#messages").fadeOut(5000)
<%end%>
