<div class="row">
  <div class="col-md-12">
    <h3 class="page-title">
      Dashboard <small>statistics and more</small>
    </h3>
    <ul class="page-breadcrumb breadcrumb">
      <li>
        <i class="icon-home"></i>
        <a href="index.html">Home</a> 
        <i class="icon-angle-right"></i>
      </li>
      <li><a href="#">Dashboard</a></li>
      <li class="pull-right">
        <div id="dashboard-report-range" class="dashboard-date-range tooltips" data-placement="top" data-original-title="Change dashboard date range">
          <i class="icon-calendar"></i>
          <span></span>
          <i class="icon-angle-down"></i>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= generate_tile(t("users.title.users"), "", "dashboard-stat double blue", "icon-user", nimbos.users_url) %>
    <%= generate_tile(t("branches.title.branches"), "", "dashboard-stat double purple", "icon-home", nimbos.branches_url) %>
    <%= generate_tile(t("Groups"), "", "dashboard-stat double yellow", "icon-group", nil) %>
  </div>
</div>

<% if current_user.has_role? :superadmin %>
<div class="row">
  <div class="col-md-12">
    <%= generate_tile("Feedbacks", "", "dashboard-stat double green", "icon-comments", surveyor.feedbacks_url) %>   
    <%= generate_tile("Betausers", "", "dashboard-stat double yellow", "icon-group", surveyor.betausers_url) %>
    <%= generate_tile("Patrons", "", "dashboard-stat double blue", "icon-cloud", nimbos.patrons_url) %>
  </div>
</div>
<% end %>