<div class="row">
  <div class="col-md-12">
    <h3 class="page-title">
      <%= t("simple_form.labels.defaults.dashboard") %>
    </h3>
    <ul class="page-breadcrumb breadcrumb">
      <li>
        <i class="fa fa-home"></i>
        <%= link_to t("simple_form.labels.defaults.mainpage"), main_app.root_url %>
        <i class="fa fa-angle-right"></i>
      </li>
      <li><a href="#"><%= t("simple_form.labels.defaults.dashboard") %></a></li>
      <li class="pull-right">
        <div id="dashboard-report-range" class="dashboard-date-range tooltips" data-placement="top" data-original-title="Change dashboard date range">
          <i class="fa fa-calendar"></i>
          <span></span>
          <i class="fa fa-angle-down"></i>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= generate_tile(t("users.title.users"), "", "dashboard-stat double blue", "fa fa-user", nimbos.users_url) %>
    <%= generate_tile(t("branches.title.branches"), "", "dashboard-stat double purple", "fa fa-home", nimbos.branches_url) %>
    <%= generate_tile(t("Groups"), "", "dashboard-stat double yellow", "fa fa-group", nil) %>
  </div>
</div>

<% if current_user.has_role? :superadmin %>
<div class="row">
  <div class="col-md-12">
    <%= generate_tile("Feedbacks", "", "dashboard-stat double green", "fa fa-comments", surveyor.feedbacks_url) %>   
    <%= generate_tile("Betausers", "", "dashboard-stat double yellow", "fa fa-group", surveyor.betausers_url) %>
    <%= generate_tile("Patrons", "", "dashboard-stat double blue", "fa fa-cloud", nimbos.patrons_url) %>
  </div>
</div>
<% end %>