<p>
Hi <%= @user.name %>; Welcome to <%= @app_name %>. 
</p>
<p>
You have successfully signed up to <%= @app_name %>.
</p>
<p>
Your user name is below. Note that it is in the form of an email address:
<br>
User name: <%= @user.email %>
</p>
<p>
You'll be asked to set a password when you first log in.
Passwords are case sensitive.
</p>
<br>
<p>
To activate your account please follow this link; <%= link_to @url, @url %>
</p>
<p>
Once again, welcome to <%= @app_name %>.com!
<br>
<br>
<br>
<%= @app_name %>.com<br>
İstanbul, Türkiye
</p>