<div class="">
  <div class="col-md-3">
    <%= f.input :code, label: false %>
  </div>
  <div class="col-md-3">
    <%= f.input :name, label: false %>
  </div>
  <div class="col-md-3">
    <%= f.input :i18n_code, label: false %>
  </div>
  <div class="col-md-3">
    <%= f.input :_destroy, as: :hidden %>
    <%= link_to_remove_fields t("defaults.link.destroy"), f %>
  </div>
</div>