<li id="Nimbos::Post_<%= post.id %>" class="media" style="border-top:2px solid #eee">

  <span class="text-muted"><%= post_title(post) %><small class="pull-right"><%= post.created_at.to_s(:pretty) %></small></span>

  <% case post.target_type %>
    <% when "Nimbos::Comment"%>
      <%= render post.parent if post.parent %>
    <% when "Nimbos::Discussion"%>
      <%= render post.target %>
    <% else %>
      <%= render post %>
  <% end %>

</li>