<div class="profile-content">

  <div class="row">
    <div class="col-md-8">
      <%#= page_sub_header("Ofiste neler oluyor") %>
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled">
            <%= render "nimbos/posts/form4user" %>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul id="user_<%= current_user.id %>_posts" class="list-unstyled">
            <%= render partial: "nimbos/posts/feed", collection: @posts, as: :post %>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-3 offset1">
      <div class="online_users">
        <%= page_sub_header(t("users.title.online_users")) %>
        <%= render partial: "nimbos/users/user_avatar", collection: current_patron.users.online, as: :user %>
      </div>
      <div class="offline_users">
        <%= page_sub_header(t("users.title.offline_users")) %>
        <%= render partial: "nimbos/users/user_avatar", collection: current_patron.users.offline, as: :user %>
      </div>
    </div>
  </div>
</div>