<div class="portlet box green">
  <%= render "shared/portlet_title", title: t("simple_form.labels.branch.branch_info") %>

  <div class="portlet-body form">
    <%= simple_form_for @branch, html: { class: 'horizontal-form'}, validate: true do |f| %>
      <%= f.error_notification %>
      <%= f.error :base, :error_method => :to_sentence, class: "alert alert-danger" %>

      <div class="form-body">
        <div class="row">
          <div class="col-md-6">
            <%= f.input :name %>
            <%= f.input :tel, input_html: { class: "mask_phone" } %>
            <%= f.input :fax, input_html: { class: "mask_phone" } %>
            <%= f.input :email %>
          </div>
          <div class="col-md-6">
            <%= f.input :country_id, as: :select, collection: Nimbos::Country.all, include_blank: false, input_html: { class: "country_select" } %>
            <%= f.input :city %>
            <%= f.input :address, as: :text %>
          </div>
        </div>
      </div>
      <div class="form-actions">
        <%= f.button :submit, t("simple_form.helpers.defaults.save"), class: 'btn btn-info' %>
        <%= link_to t("simple_form.helpers.defaults.cancel"), "#", class: 'btn' %>
      </div>
    <% end %>
  </div>
</div>
